.site {
  background-color: #ccc;

  // Header
  &__header  {
    background: #fff;
    margin: 1em;
    padding: 1em;

    &__before {
      //
    }

    &__section {
      &--1 {
        //
      }

      &--2 {
        //
      }

      &--3 {
        //
      }
    }

    &__after {
      //
    }
  }

  // Main
  &__main {
    background: #fff;
    margin: 1em;
    padding: 1em;

    &__before {
      //
    }

    &__after {
      //
    }
  }

  // Title
  &__title {
    &__before {
      //
    }

    &__after {
      //
    }
  }

  // Content
  &__content {
    &__before {
      //
    }

    &__after {
      //
    }
  }

  // Footer
  &__footer {
    background: #fff;
    margin: 1em;
    padding: 1em;

    &__before {
      //
    }

    &__section {
      &--1 {
        //
      }

      &--2 {
        //
      }

      &--3 {
        //
      }
    }

    &__after {
      //
    }
  }
}
