{% spaceless %}

  {# Hooks Documentation: ./../README.md #}
  {# ? ⚓️ HOOK "documentTitle" #}
  {% set hookDocumentTitle %}
    {% block documentTitle %}
      {% if entry is defined %}
      {{ entry.title }}
    |
    {% endif %}
  {{ siteName }}
  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "meta" #}
  {% set hookMeta %}{% block meta %}
  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "siteClassList" #}
  {% set hookSiteClasslist %}
  {{ "site" }}
  {{ " " }}{% block siteClassList %}
  {% endblock %}
    {% if entry is defined and entry.slug %}
  {{ " site--" ~ entry.slug }}
  {% endif %}
  {% endset %}

  {# ? ⚓️ HOOK "beforeHeader" #}
  {% set hookBeforeHeader %}{% block beforeHeader %}
  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "headerSection1" #}
  {% set hookHeaderSection1 %}
    {% block headerSection1 %}
    {% import "_components/molecules/logo" as mLogo %}
  {{ mLogo.render() }}
  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "headerSection2" #}
  {% set hookHeaderSection2 %}{% block headerSection2 %}
  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "headerSection3" #}
  {% set hookHeaderSection3 %}{% block headerSection3 %}
  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "header" #}
  {% set hookHeader %}
    {% block header %}
      {% if hookHeaderSection1 |replace({" ": ""}) | length %}
        <div class="site__header__section site__header__section--1"> {{ hookHeaderSection1 }}</div>
    {% endif %}
    {% if hookHeaderSection2 |replace({" ": ""}) | length %}
      <div class="site__header__section site__header__section--2">{{ hookHeaderSection2 }}</div>
    {% endif %}
    {% if hookHeaderSection3 |replace({" ": ""}) | length %}
      <div class="site__header__section site__header__section--3">{{ hookHeaderSection3 }}</div>
    {% endif %}
  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "afterHeader" #}
  {% set hookAfterHeader %}
  {% block afterHeader %}{% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "beforeMain" #}
  {% set hookBeforeMain %}
  {% block beforeMain %}{% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "beforeTitle" #}
  {% set hookBeforeTitle %}
  {% block beforeTitle %}{% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "title" #}
  {% set hookTitle %}
  {% import "_components/atoms/h1" as h1 %}
  {% set text %}
  {% block title %}
    {% if entry is defined %}
      {% if entry.altTitle %}
        {{ entry.altTitle }}
      {% else %}
        {{ entry.title }}
      {% endif %}
    {% else %}
      {{ currentSite.name }}
    {% endif %}
  {% endblock %}
  {% endset %}
  {{ h1.render(text) }}
  {% endset %}

  {# ? ⚓️ HOOK "afterTitle" #}
  {% set hookAfterTitle %}
  {% block afterTitle %}{% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "beforeContent" #}
  {% set hookBeforeContent %}
  {% block beforeContent %}{% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "content" #}
  {% set hookContent %}
  {% block content %}{% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "afterContent" #}
  {% set hookAfterContent %}
  {% block afterContent %}{% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "main" #}
  {% set hookMain %}
  {% block main %}
    {% if hookBeforeTitle |replace({" ": ""}) | length or hookTitle or hookAfterTitle %}
      <div class="site__title__wrapper">
        {% if hookBeforeTitle |replace({" ": ""}) | length %}
          <div class="site__title__before" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookBeforeTitle }}</div>
        {% endif %}

        {% if hookTitle |replace({" ": ""}) | length %}
          <div class="site__title" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookTitle }}</div>
        {% endif %}

        {% if hookAfterTitle |replace({" ": ""}) | length %}
          <div class="site__title__after" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookAfterTitle }}</div>
        {% endif %}
      </div>
    {% endif %}

    {% if hookBeforeContent |replace({" ": ""}) | length or hookContent or hookAfterContent %}
      <div class="site__content__wrapper">
        {% if hookBeforeContent |replace({" ": ""}) | length %}
          <div class="site__content__before" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookBeforeContent }}</div>
        {% endif %}

        {% if hookContent |replace({" ": ""}) | length %}
          <div class="site__content" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookContent }}</div>
        {% endif %}

        {% if hookAfterContent |replace({" ": ""}) | length %}
          <div class="site__content__after" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookAfterContent }}</div>
        {% endif %}
      </div>
    {% endif %}

  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "afterMain" #}
  {% set hookAfterMain %}
  {% block afterMain %}{% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "beforeFooter" #}
  {% set hookBeforeFooter %}
  {% block beforeFooter %}{% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "footerSection1" #}
  {% set hookFooterSection1 %}
  {% block footerSection1 %}[Topics]
  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "footerSection2" #}
  {% set hookFooterSection2 %}
  {% block footerSection2 %}[Copyright]
  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "footerSection3" #}
  {% set hookFooterSection3 %}
  {% block footerSection3 %}[Socials]
  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "footer" #}
  {% set hookFooter %}
  {% block footer %}
    {% if hookFooterSection1 |replace({" ": ""}) | length %}
      <div class="site__footer__section site__footer__section--1">{{ hookFooterSection1 }}</div>
    {% endif %}
    {% if hookFooterSection2 |replace({" ": ""}) | length %}
      <div class="site__footer__section site__footer__section--2">{{ hookFooterSection2 }}</div>
    {% endif %}
    {% if hookFooterSection3 |replace({" ": ""}) | length %}
      <div class="site__footer__section site__footer__section--3">{{ hookFooterSection3 }}</div>
    {% endif %}
  {% endblock %}
  {% endset %}

  {# ? ⚓️ HOOK "afterFooter" #}
  {% set hookAfterFooter %}
  {% block afterFooter %}{% endblock %}
  {% endset %}

  {# DOM #}
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport">
      <meta
      content="ie=edge" http-equiv="X-UA-Compatible">
      <link type="text/plain" rel="author" href="{{ siteUrl }}humans.txt" />
      {# Stylesheet #}
      <link href="/static/assets/stylesheets/index.css" rel="stylesheet"/>
      <title>{{ hookDocumentTitle }}</title>
      {{ hookMeta }}
    </head>
    <body {% if devMode %} data-path="{{ _self }}" {% endif %}>
      <article class="{{ hookSiteClasslist }}">

        {% if hookBeforeHeader |replace({" ": ""}) | length or hookHeader or hookAfterHeader %}
          <div class="site__header__wrapper">
            {% if hookBeforeHeader |replace({" ": ""}) | length %}
              <div class="site__header__before" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookBeforeHeader }}</div>
            {% endif %}

            {% if hookHeader |replace({" ": ""}) | length %}
              <header class="site__header" {% if devMode %} data-path="{{ _self }}" {% endif %}>
                {{ hookHeader }}
              </header>
            {% endif %}

            {% if hookAfterHeader |replace({" ": ""}) | length %}
              <div class="site__header__after" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookAfterHeader }}</div>
            {% endif %}
          </div>
        {% endif %}

        {% if hookBeforeMain |replace({" ": ""}) | length or hookMain or hookAfterMain %}
          <div class="site__main__wrapper">
            {% if hookBeforeMain |replace({" ": ""}) | length %}
              <div class="site__main__before" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookBeforeMain }}</div>
            {% endif %}

            {% if hookMain |replace({" ": ""}) | length %}
              <main class="site__main" {% if devMode %} data-path="{{ _self }}" {% endif %}>
                {{ hookMain }}
              </main>
            {% endif %}

            {% if hookAfterMain |replace({" ": ""}) | length %}
              <div class="site__main__after" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookAfterMain }}</div>
            {% endif %}
          </div>
        {% endif %}

        {% if hookBeforeFooter |replace({" ": ""}) | length or hookFooter or hookAfterFooter %}
          <div class="site__footer__wrapper">
            {% if hookBeforeFooter |replace({" ": ""}) | length %}
              <div class="site__footer__before" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookBeforeFooter }}</div>
            {% endif %}

            {% if hookFooter |replace({" ": ""}) | length %}
              <footer class="site__footer" {% if devMode %} data-path="{{ _self }}" {% endif %}>
                {{ hookFooter }}
              </footer>
            {% endif %}

            {% if hookAfterFooter |replace({" ": ""}) | length %}
              <div class="site__footer__after" {% if devMode %} data-path="{{ _self }}" {% endif %}>{{ hookAfterFooter }}</div>
            {% endif %}
          </div>
        {% endif %}

      </article>

      {# JavaScript #}
      <script src="/static/assets/javascript/index.js" defer></script>
    </body>
  </html>
</body></html>{% endspaceless %}
