{# Only visible if devMode is false #}
{% extends "_layout" %}

{% block documentTitle %}Error 404{% endblock %}
{% block title %}404 – Hoppla! Hier gibt es nichts zu sehen...{% endblock %}
{% block content %}Hier geht's zurück zur <a href="{{ siteUrl }}">Startseite</a>.{% endblock %}