{% extends "_layout" %}

{% block beforeHeader %}beforeHeader
{% endblock %}
{% block headerSection1 %}headerSection1
  {% import "_components/molecules/logo" as mLogo %}
  {{ mLogo.render() }}
{% endblock %}
{% block headerSection2 %}headerSection2
{% endblock %}
{% block headerSection3 %}headerSection3
{% endblock %}
{% block afterHeader %}afterHeader
{% endblock %}
{% block beforeMain %}beforeSiteMain
{% endblock %}
{% block beforeTitle %}beforeTitle
{% endblock %}
{% block title %}title
{% endblock %}
{% block afterTitle %}afterTitle
{% endblock %}
{% block beforeContent %}beforeContent
{% endblock %}
{% block content %}content
{% endblock %}
{% block afterContent %}afterContent
{% endblock %}
{% block afterMain %}afterSiteMain
{% endblock %}
{% block beforeFooter %}beforeFooter
{% endblock %}
{% block footerSection1 %}footerSection1
{% endblock %}
{% block footerSection2 %}footerSection2
{% endblock %}
{% block footerSection3 %}footerSection3
{% endblock %}
{% block afterFooter %}afterFooter
{% endblock %}
