{% macro render(text) %}
  <div class="a-h1" {% if devMode %} data-path="{{ _self }}" {% endif %}>
    <h1>
      {% if text  |replace({" ": ""}) | length %}
        {{text}}
      {% else %}
        {{ currentSite.name }}
      {% endif %}
    </h1>
  </div>
{% endmacro %}
