.breadcrumbs {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 10px;

      &::before {
        content: '▶️';
        margin-right: 10px;
      }
    }

    &__link {
      text-decoration: none;
      text-decoration: inherit;
    }

    &__caption {
      text-decoration: underline;
    }

    &--is-active & {
      &__caption {
        text-decoration: none;
      }
    }
  }
}