{% macro by(type, name) %}
  {% set posts = "" %}

  {# Type : Section #}
  {% if type === "section" %}
    {% set posts = craft.entries().section(name).all() %}
  {% endif %}

  {# Type : Category #}
  {% if type === "category" %}
    {% set categoryId = "" %}
    {% if name %}

      {# With category "slug" #}
      {% if name is string %}
        {% set categoryId = craft.categories().slug(name).first() %}
      {% endif %}

      {# With category "id" #}
      {% if name is numeric %}
        {% set categoryId = name %}
      {% endif %}

      {% if categoryId %}
        {% set posts = craft.entries().relatedTo(categoryId).all() %}
      {% endif %}
    {% endif %}
  {% endif %}

  {# Type : Search #}
  {% if type === "search" %}
    {% set posts = craft.entries().search(name).all() %}
  {% endif %}

  {# Return #}
  {% if posts %}
    {% return posts %}
  {% else %}
    {% return %}
  {% endif %}

{% endmacro %}
