{% macro render(entry) %}
  <div class="m-tags" {% if devMode %}data-path="{{ _self }}"{% endif %}>
    <ul>
      {% for item in entry.tags.all() %}
      <li>{{ item.title }}</li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
